node_modules
**/node_modules
**/npm-debug.log
**/*.swp
**/.classpath
**/.gitignore
**/.project
**/bin/de/tetet
**/*.jar
usfl/public/apflbox
usfl/public/tflbox
usfl/public/fflbox
usfl/public/usflbox
usfl/views/usfl/
usfl/views/ffl/
usfl/views/apfl/
usfl/views/tfl/
