html(lang="en")

  head
    title Player Details
    script( type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )
    script( type="text/javascript", src="/javascripts/detail.js" )
    script( type="text/javascript" ).
        var detail =!{JSON.stringify(detail)}
        var info =!{JSON.stringify(info)}

  body
    h1.
        Player Detail
    #detail
