doctype html
html

  head
    meta(charset="utf-8")
    title= title || 'USFL'
    link(href="/stylesheets/homepage.css", rel="stylesheet")

    script( type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )
    script( type="text/javascript", src="/javascripts/fof7.js" )
    script.
      var ld=!{JSON.stringify(leaguedata)};
      var leagues=!{JSON.stringify(leagues)};

  body
    block content

