extends homepage

block content
		img(src='http://www.fof-ffl.com/USFL/css/images/header.jpg', width='100%')
		#topmenu
			#buttonbox
				#button <a href="http://www.fof-ffl.com/USFL/USFL_Forum/forum.php">League Forum</a> 
			#buttonbox
				#button <a href="http://fof-ffl.com/USFL/USFLuplink.php"> Export Status</a> 
			#buttonbox
				#button <a href="http://www.fof-ffl.com/USFL/hof/index.html">Hall of Fame</a> 
			#buttonbox
				#button <a href="http://www.fof-ffl.com/USFL/USFL_Forum/forumdisplay.php?f=10">Press Releases</a> 
			#buttonbox
				#button <a href="http://fof-ffl.com/USFL/leaguehtml/2035standings.html"> Standings</a>
		#center
			#leftmenu 
				#button <a href="http://www.fof-ffl.com/USFL/home.html">home</a>
				#button <a href="http://fof-ffl.com/USFL/leaguehtml/index.html">teams</a>
				#button <a href="http://fof-ffl.com/USFL/leaguehtml/2035schedule.html">game results</a>
				#button <a href="http://www.fof-ffl.com/USFL/USFL_Owner.htm">owners list</a>
				#button <a href="http://www.fof-ffl.com/USFL/fof_draft/selections.php">draft room</a>
			#box
				#bgimg
					img(src='http://www.fof-ffl.com/USFL/css/images/featured-main.jpg')
			#rightmenu
				#button 
					#dynamic
				#button <a href="http://solecismic.com/index.php">FOF7</a> Please download and install game
				#button <a href="http://www.fof-ffl.com/USFL/USFL_Forum/showthread.php?t=10816">Look Here</a> Conversion Instructions
				#button <a href="http://www.fof-ffl.com/USFL/USFL_Forum/showthread.php?t=10815&p=65228#post65228">Please Recruit for open teams</a> Much work to do to refill league
				#button <a href="mailto:w24olfpack@yahoo.com">Contact Wolf</a> w24olfpack at yahoo dot com. 
		#bottommenu 
			#bottombox USFL, then, now, forever<br> Flasch on the Future of the USFL
							<a href="http://www.fof-ffl.com/USFL/USFL_Forum/showthread.php?t=10814&p=65226#post65226" class="button">Read more</a>
			#bottombox fof7 study hall<br> Learn About the New Game
							<a href="http://www.operationsports.com/fofc/showthread.php?t=88552" class="button">Read more</a>
			#bottombox Signup for USFL<br>
						<a href="http://www.fof-ffl.com/USFL/USFL_Forum/showthread.php?t=10815&p=65228#post65228" class="button">Click Here</a>

